{% extends "base.html" %}
{% block title %}Об авторе сайта{% endblock %}
<head>
  <style>
    .wordbreak {
      word-wrap: break-word;
    }
  </style>
</head>
{% block content %}
<div class="container py-5">
  <h1 align='center'>Об авторе сайта</h1>
  <br>
  <p align='center'>
      <img src="/static/img/author.jpg" p align='center'>
  </p>
  <br>
  <p>
      Привет, я автор этого сайта и меня зовут Семёнов Юрий.
      Я из города Москва. Женат, есть сын, наше маленькое солнышко.
  </p>
  <p>
      Увлекаюсь всем что нравиться, играю на гитаре, люблю It, читать и слушать музыку.
      Люблю путешестовать. Веду активный и здоровый , когда есть время, образ жизни. 
  </p>
  <p>
      Последние несколько лет работаю  в продажах. Но в 2022 году решил освоить программирование и язык Python 
      чтобы стать программистом и сменить профессию. В этом мне помогают
      Яндекс-Практикум, наставники, ревьюеры и куратор нашего курса. Прошло 
      два месяца, это мой первый небольшой сайт на Django. 
  </p>
  <p>
      <ul>
      <li>
          Мой гитхаб: <a href='https://github.com/SemenovY'>GitHub</a>
      </li>
      <li>
          Мое резюме: <a href=''>HeadHunter</a>
      </li>
      <li> 
          Мои контакты: +7-995-785-08-21, <a href=''>Telegram</a>
      </li>
      </ul>
</div>
{% endblock %}




