{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
<head>
  <style>
    .wordbreak {
      word-wrap: break-word;
    }
  </style>
</head>
{% block content %}
<div class="container py-5">
  <h2 align='center'>Технологии, применяемые на сайте</h2>
  <br>
  <p>
    <ul>
      <li>
        <b>Python </b> - высокоуровневый язык программирования общего назначения с динамической строгой
        типизацией и автоматическим управлением памятью.
        <br>
      </li>
      <li>
        <b>Django</b> - свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC.
        <br>
      </li>
      <li>
        <b>HTML</b> - стандартизированный язык разметки документов для просмотра веб-страниц в браузере.
        <br>
      </li>
    </ul>
  </p>
  <br>
  <p>
    Данные технологии мы изучаем в рамках курса Backend на Django на платформе Я.Практикум.
    Python очень приятный язык для изучения, мне нравится на нём работать.
  </p>
</div>
{% endblock %}
